<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd
                        http://www.springframework.org/schema/aop
	                   http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">




	<context:property-placeholder location="classpath:environment.properties" />

	<bean id="applicationContextManager"
		class="it.csi.stacore.stadocweb.util.ApplicationContextManager"
		abstract="false" lazy-init="default" autowire="default">
	</bean>

	<bean id="encryptUtil"
		class="it.csi.stacore.stadocweb.util.EncryptUtil"
		abstract="false" lazy-init="default" autowire="default">
	</bean>

	<bean id="environment"
		class="it.csi.stacore.stadocweb.util.Environment"
		abstract="false" lazy-init="default" autowire="default">
	</bean>




	<context:component-scan base-package="it.csi.stacore.stadocweb.rest.api.*" />
	<context:component-scan base-package="it.csi.stacore.stadocweb.business.*" />
	<context:component-scan base-package="it.csi.stacore.stadocweb.util.*" />


	<context:annotation-config  />
	<aop:aspectj-autoproxy />
	<aop:config proxy-target-class="true"/>

	<bean id="pdProxyFactory" class="it.csi.stacore.stadocweb.util.PdProxyFactory"/>

	<!-- STADOC -->
    <bean id="stadocSrv"
          class="it.csi.stacore.stadoc.interfacecsi.stadoc.StadocSrv"
          factory-bean="pdProxyFactory" factory-method="getObject">
        <constructor-arg value="classpath:/pd/defpd_stadoc.xml"/>
    </bean>

</beans>